@inject IUsageChartingService<T> Charts
@typeparam T where T : BorrowableEntity
@inherits GenericEntityBase<T>
@inject ILocalizationService LocalizationService
@if (_statData.Length == 0) {
    <Empty Description=@("No Data Found")/>
} else {
    <AntDesign.Charts.Column @ref="_chart" Data="@_statData" Config="@_config"/>
}
<LocalDatePickerNullable @bind-Value="Date"></LocalDatePickerNullable>
<Button OnClick="() => InitializeData(Date)">Chart</Button>

@code {

    [Parameter]
    public LocalDate? Date { get; set; }

        private const string Usage = "Hourly borrows";
    private Column? _chart;

    private object[] _statData = {};
    private ColumnConfig _config = new();

    protected override void OnInitialized() {
        _config = ChartsUtils.CreateColumnConfig(Usage, "", "Hour", "Borrows");
        base.OnInitialized();
    }

    protected override async Task OnParametersSetAsync() {
        await InitializeData(Date);
        await base.OnParametersSetAsync();
    }

    private async Task InitializeData(LocalDate? val) {
        if (val is not null) {
            _statData = (await Charts.GetBorrowsByHourAsync(val.Value)).Select(usage => new {x = usage.hour.ToString(), y = usage.value}).ToArray();
            if (_chart != null) {
    // Idk doesn't react to statHasCHanged
                var description = ChartsUtils.GetChartDescription(Usage, EntityName, (Date, null), LocalizationService);
                _config.Description.Text = description;
                await _chart.UpdateChart(csData: _statData, csConfig: _config);
            }
        }
    }

}