@inject MessageService MessageService
@inject ICrudService<T> CrudService
@inject ILocalizationService Loc
@using PrackyASusarny.Features.AdminPanel
@using PrackyASusarny.Errors.Folder
@typeparam T where T : new() 

@if (_model is not null) {
    <GenericForm Loading="@_loading" @bind-Model="@_model" OnFinish="@OnFinish">
    </GenericForm>
} else {
    <Title Level="2">@Loc["Model not found"]</Title>
}

@code {

    [Parameter]
    public CrudAction Action { get; set; }

    [Parameter]
    public int? Id { get; set; }


    private T _model = new();
    private bool _loading = true;

    protected override async Task OnParametersSetAsync() {
        _loading = true;
        if (Action == CrudAction.Create) {
            _model = new T();
        } else if (Action == CrudAction.Update && Id is not null) {
            var maybeModel = await CrudService.GetByIdAsync(Id.Value, true);
            if (maybeModel != null) {
                _model = maybeModel;
            }
        }
        _loading = false;
        await base.OnParametersSetAsync();
    }

    private async Task OnFinish() {
        _loading = true;
        if (Action == CrudAction.Create) {
            try {
                await CrudService.CreateAsync(_model);
#pragma warning disable CS4014
                MessageService.Success("Successfully created record");
#pragma warning restore CS4014
                _model = new T();
            }
            catch (DbException) {
#pragma warning disable CS4014
                MessageService.Error("Unable to create record");
#pragma warning restore CS4014
            }
        } else if (Action == CrudAction.Update && Id is not null) {
            try {
                await CrudService.UpdateAsync(_model);
#pragma warning disable CS4014
                MessageService.Success("Successfully updated record");
#pragma warning restore CS4014
            }
            catch (DbException) {
#pragma warning disable CS4014
                MessageService.Error("Unable to update record");
#pragma warning restore CS4014
            }
        }
        _loading = false;
    }

}