@using Microsoft.AspNetCore.Authorization
@using PrackyASusarny.Auth.Utils
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IAuthorizationService AuthorizationService
@{
    Layout = "/Pages/_Layout.cshtml";
}

<h1>Manage your account</h1>
<hr/>
<div>
    <div class="row">
        <div class="col-md-3">
            <h4>User settings</h4>
            <partial name="Account/Manage/_ManageNav"/>
            @if ((await AuthorizationService.AuthorizeAsync(User, Policies.UserManagement)).Succeeded) {
                <hr/>
                <h4>Admin settings</h4>
                <partial name="Account/Admin/_AdminNav"/>
            }
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", false)
}