@page
@using PrackyASusarny.Data.ServiceInterfaces
@using PrackyASusarny.Areas.Manage.Pages.Account.Manage
@model PrackyASusarny.Areas.Manage.Pages.Account.Manage.DownloadPersonalDataModel
@inject ILocalizationService Loc
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@Loc[ViewData["Title"]]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}