@using App.Auth.Models
@using App.Data.ServiceInterfaces
@using Microsoft.AspNetCore.Identity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ILocalizationService Loc

@if (SignInManager.IsSignedIn(User)) {
    <li class="nav-item">
        <button class="btn btn-link nav-link">
            <a asp-area="Manage" asp-page="/Account/Manage/Index" class="text-dark" id="manage" title="Manage">@($"{Loc["Hello"]} {UserManager.GetUserName(User)}!")</a>
        </button>
    </li>
    <li class="nav-item">
        <form asp-area="SignIn" asp-page="/Login/Logout" asp-route-returnUrl="@Context.Request.Path" class="form-inline" id="logoutForm">
            <button class="btn btn-link nav-link text-dark" id="logout" type="submit">@Loc["Logout"]</button>
        </form>
    </li>
} else {
    <li class="nav-item">
        <button class="btn btn-link nav-link">
            <a asp-area="SignIn" asp-page="/Login/Login" class="text-dark" id="login">@Loc["Login"]</a>
        </button>
    </li>
}