@inject ILocalizationService Loc
@if (Borrow is not null) {
    <Card Title=@Loc["Borrow Description"]>
        <Body>
        <Descriptions Column="column">
            <DescriptionsItem Title=@Loc["Start time"]>
                @Loc[Borrow.Start]
            </DescriptionsItem>
            <DescriptionsItem Title=@Loc["Person"]>
                @($"{Borrow.BorrowPerson.Name} {Borrow.BorrowPerson.Surname}")
            </DescriptionsItem>
        </Descriptions>
        </Body>
    </Card>
}

@code {

    [Parameter]
    public Borrow? Borrow { get; set; }

    private Dictionary<string, int> column = new Dictionary<string, int> {
        {"xxl", 1},
        {"xl", 1},
        {"lg", 1},
        {"md", 1},
        {"sm", 1},
        {"xs", 1}
    };

}