@using PrackyASusarny.Errors.Folder
@inject IBorrowService BorrowService
@inject ILogger<PriceBorrowCompute> Logger
@inject ILocalizationService Loc

@if (_price is not null) {
    <GridRow Class="px-4" Justify="space-between" Align="middle">
        <GridCol>
            @($"{Loc["Current price"]}: {_price}")
        </GridCol>
        <GridCol>
            <Button OnClick="UpdatePrice">@Loc["Refresh"]</Button>
        </GridCol>
    </GridRow>
}

@code {

    [Parameter]
    public Borrow? Borrow { get; set; }

    [Parameter]
    public EventCallback<Price?> OnBorrowEnd { get; set; }

    private Price? _price = null;

    protected override async Task OnInitializedAsync() {
        await UpdatePrice();
        await base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync() {
        await UpdatePrice();
        await base.OnParametersSetAsync();
    }

    private async Task UpdatePrice() {
        if (Borrow is null) {
            _price = null;
            return;
        }
        try {
            _price = await BorrowService.GetPriceAsync(Borrow);
        }
        catch (DbException ex) {
            Logger.LogError(ex, "Error while getting price for borrow");
        }
    }







}