@using PrackyASusarny.Errors.Folder
@inject IBorrowService BorrowService
@inject ILogger<PriceBorrowCompute> Logger

@if (_price is not null) {
    <Space>
        <SpaceItem>
            <h6>@($"Current price: {_price}")</h6>
        </SpaceItem>
        <SpaceItem>
            <Button OnClick="UpdatePrice">Refresh</Button>
        </SpaceItem>
    </Space>
}

@code {

    [Parameter]
    public Borrow? Borrow { get; set; }

    [Parameter]
    public EventCallback<Price?> OnBorrowEnd { get; set; }

    private Price? _price = null;

    protected override async Task OnInitializedAsync() {
        await UpdatePrice();
        await base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync() {
        await UpdatePrice();
        await base.OnParametersSetAsync();
    }

    private async Task UpdatePrice() {
        if (Borrow is null) {
            _price = null;
            return;
        }
        try {
            _price = await BorrowService.GetPriceAsync(Borrow);
        }
        catch (DbException ex) {
            Logger.LogError(ex, "Error while getting price for borrow");
        }
        return;
    }







}