@using Microsoft.AspNetCore.Mvc.TagHelpers
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @AdminNavPages.RegisterNavClass(ViewContext)" id="profile" asp-page="/Account/Admin/Register">Create new account</a>
    </li>
</ul>