@page
@using App.Data.ServiceInterfaces
@using App.Areas.Manage.Pages.Account.Manage
@model App.Areas.Manage.Pages.Account.Manage.IndexModel
@inject ILocalizationService Loc
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@Loc[ViewData["Title"]]</h3>
<div class="row">
    <div class="col-md-6">
        <div class="form-floating">
            <input asp-for="Username" class="form-control" disabled/>
            <label asp-for="Username" class="form-label">
                @Loc["Username"]
            </label>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}