@page
@using PrackyASusarny.Data.ServiceInterfaces
@model PrackyASusarny.Areas.SignIn.Pages.Login.LogoutModel
@inject ILocalizationService Loc
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@Loc[ViewData["Title"]]</h1>
    @{
        if (User.Identity?.IsAuthenticated == true) {
            <form asp-area="Manage" asp-page="/Account/Login/Logout" asp-route-returnUrl="@Url.Page("/", new {area = ""})" class="form-inline" method="post">
                <button class="btn btn-link nav-link text-dark" type="submit">Click here to Logout</button>
            </form>
        } else {
            <p>@Loc["You have successfully logged out of the application."]</p>
        }
    }
</header>