<h2>Vytvořit výpujčku</h2>
@inject BorrowService BorrowService

<EditForm Model="@_tmpBorrowPerson" OnValidSubmit="@SubmitForm">
    <div class="form-group">
        <label for="Name">Jméno</label>
        <InputText @bind-Value="_tmpBorrowPerson.Name" id="Name" />
    </div>
    <div class="form-group">
        <label for="Surname">Přijímení</label>
        <InputText @bind-Value="_tmpBorrowPerson.Surname" id="Surname"/>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</EditForm>


@code {
    [Parameter]
    public WashingMachine? WashingMachine { get; set; }
    
    private BorrowPerson _tmpBorrowPerson = new BorrowPerson();
    private async Task SubmitForm()
    {
        var tmpBorrow = new Borrow()
        {
            BorrowPerson = _tmpBorrowPerson,
            WashingMachine = WashingMachine,
            startDate = DateTime.UtcNow
        };
        try
        {
            await BorrowService.AddBorrow(tmpBorrow);
        }
        catch ()
        








    }
    
}