@if (WashingMachine is not null)
{
    <Card Title="Pračka">
        <Body>
        <ul class="container">
            <li>
                <h6>Lokalita</h6>
                <p>@WashingMachine.Location.Print()</p>
            </li>
            <li>
                <h6>Výrobce</h6>
                <p>@WashingMachine.Manufacturer</p>
            </li>
        </ul>
        </Body>
    </Card>
}

@code {

    [Parameter]
    public WashingMachine? WashingMachine { get; set; }

}