@page "/test"
@using System.ComponentModel.DataAnnotations
<Form Model="@a" OnFinish="OnFinish">
    <DatePicker TValue="DateTime?" @bind-Value="a.a"></DatePicker>
    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            Submit
        </Button>
    </FormItem>
</Form>
<h1>@a.a</h1>

@code {

    public class Model {
        [Required]
        public DateTime? a { get; set; }
    }

    private Model a = new Model();

    private void OnFinish(EditContext editContext) {
    }

}